*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
 
}
body{
  
  background-image: url(pattern-background-desktop.svg);
  background-repeat: no-repeat;
  background-color: #dee4de;
  font-family: Arial, Helvetica, sans-serif;

}

.container{
   max-width: 400px;
   height: 100%;
   border-radius: 20px;
   margin:20px auto;
   background: #fff;
  
}
.header{
  background-image: url(illustration-hero.svg);
  background-repeat: no-repeat;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  height:240px ;
}

.main-content { 
  margin: 12px 50px;
  text-align: center;
  opacity: 80%;
}
.main-content h1{
  padding-bottom: 19px;
  opacity: 80%;
}
.bg-icon{
  background-image: url(icon-music.svg);
  background-repeat: no-repeat;
  background-color:#ecf1ec; 
  background-position: 5%;
  border-radius: 5px;
}
.link a{
  font-size: 18px;
  color: blue;
}
.link a:hover{
  text-decoration: none;
}
.icon{
  display: flex;
  justify-content: space-between;
  margin-left:60px;
  
}
.price{
   font-weight: 100;
}
.price-tag{
  margin: 12px 50px;
  padding:12px;
  text-align: center;
}

.confirm-payment h3{ 
  padding-bottom: 20px;
  text-align: center;
  font-family: 800;
  transition: 0.5s;
}
.confirm-payment h3:hover{
  opacity: 60%;
}
.confirm-payment{
  display: flex;
  flex-direction: column;
  margin:12px 50px ; 
}
.button{
  padding:8px 0;
  background-color: rgb(13, 75, 209);
  color: #fff;
  border:none;
  border-radius: 9px;
  margin-bottom: 12px;
  cursor: pointer;
}
.button:hover{
 opacity: 70%;
}
@media(max-width:600px){
  body{
    background-image: url(pattern-background-mobile.svg);
    overflow: none;
    margin:8px 0;
    background-color: #dee4de;
  }
  .container{
   margin:0 10px
  }
  h1{
    font-size: 18px;
  }
  .header{
    height: 280px;
  }
  .main-content  {
    margin:12px 20px;
  }
  .price-tag {
    margin:12px 20px;
  }
  .confirm-payment{
    margin:12px 20px;
  }
}

